#fundo {
    background-image: url(fundo.png);
    background-size: cover;       /* cobre toda a div */
    background-position: center;  /* centraliza */
    background-repeat: no-repeat; /* evita repetição */
    height: 1400px;
    width: 800px;
    display: block;
    margin: 0 auto;
    border-style: dashed;
    border-color: rgb(94, 34, 34);
    padding: 15px;
}

h1 {
    text-align: center;

}

#imagem {
    border-style: dashed;
    border-color: rgb(94, 34, 34);
    background-color: rgb(49, 4, 4);
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
}

#texto {
    border-style: solid;
    border-color: rgba(94, 34, 34, 0.493);
    background-color: rgb(49, 4, 4);
    width: fit-content;
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#Status {
    border-style: dashed;
    border-color: rgb(94, 34, 34);
    background-color: rgb(49, 4, 4);
    padding: 15px;

}

p {
    font-weight: bold;
    font-size: large;
    text-align: justify;
    margin: 20px;
    color: firebrick;
}

h3 {
    font-weight: bold;
    font-size: large;
    text-align: justify;
    margin: 20px;
    color: firebrick;
}

h1 {
    text-align: justify;
    margin: 20px;
    color: firebrick;
}

body {
    background-color: black;
}

#imagem2 {
    width: 70%;
}

#texto {
    width: 30%;
}

#caixona {
    width: 100%;
    display: flex;
}

#m60 {
    width: 100%;
    height: auto;
}

#titulo {
    border-style: dashed;
    border-color: rgb(94, 34, 34);
    background-color: rgb(49, 4, 4);
    width: fit-content;
    margin: 0 auto 15px;
}